---
layout: compress
---
<!doctypehtml><html lang=en><link href=data:, rel=icon><title>KISS{% if page.title != "KISS" %} - {{page.title | strip_html}}{% endif %}</title><meta content="{{content|strip_html|truncatewords:30}}"name=description><meta content="width=device-width"name=viewport><style>#a{color:#000;text-decoration:none;line-height:1;text-align:center;display:block}#a pre{text-align:left;display:inline-block}body{font-size:calc(.75em + 1.3vmin);line-height:1.6;word-wrap:break-word}svg,pre>code,p,h1,h2,h3,ul,li{display:block;margin:40px auto;max-width:60ch}li{display:inline-block}pre>code{max-width:80ch}svg{width:200px}pre>code{padding:20px;white-space:pre-wrap}</style>
<a href=https://getkiss.org id=a>
<pre>
 ██ ▄█▀ ██▓  ██████   ██████
 ██▄█▒ ▓██▒▒██    ▒ ▒██    ▒
▓███▄░ ▒██▒░ ▓██▄   ░ ▓██▄
▓██ █▄ ░██░  ▒   ██▒  ▒   ██▒
▒██▒ █▄░██░▒██████▒▒▒██████▒▒
▒ ▒▒ ▓▒░▓  ▒ ▒▓▒ ▒ ░▒ ▒▓▒ ▒ ░
░ ░▒ ▒░ ▒ ░░ ░▒  ░ ░░ ░▒  ░ ░
░ ░░ ░  ▒ ░░  ░  ░  ░  ░  ░
░  ░    ░        ░        ░
</pre></a>

<ul>
<li><a href=/news/>News</a>
<li><a href=/blog/>Blog</a>
<li><br>
<li><a href=/pages/install/><b>Install KISS</b></a>
<li><a href=/pages/faq/>FAQ</a>
<li><a href=/pages/testimonials>Testimonials</a>
<li><a href=/pages/scrots/>Screenshots</a>
<li><a href=/pages/team/>Team</a>
<li><br>
<li><a href=/pages/package-system/>Package System</a>
<li><a href=/pages/package-manager/>Package Manager</a>
<li><a href=https://github.com/kisslinux/>GitHub</a>
<li><br>
<li><a href=/pages/contact/>Contact</a>
<li><a href=/pages/donate/>Donate</a>
</ul>

<h1>{{page.title|strip_html}}</h1>
<main>
{{content}}
<main>
