---
layout: compress
---
<!doctypehtml><html lang=en><link href=data:, rel=icon><title>KISS{% if page.title != "KISS" %} - {{page.title | strip_html}}{% endif %}</title><meta content="{{content|strip_html|truncatewords:30}}"name=description><meta content="width=device-width"name=viewport><style>#a{color:#000;text-decoration:none;line-height:1;text-align:center;display:block}#a pre{text-align:left;display:inline-block}body{font-size:calc(.75em + 1.3vmin);line-height:1.6;word-wrap:break-word}body,svg,pre>code{display:block;margin:40px auto;max-width:60ch}svg{width:200px}pre>code{padding:20px;white-space:pre-wrap}</style>
<a href=https://getkiss.org id=a>
<pre>
 ██ ▄█▀ ██▓  ██████   ██████
 ██▄█▒ ▓██▒▒██    ▒ ▒██    ▒
▓███▄░ ▒██▒░ ▓██▄   ░ ▓██▄
▓██ █▄ ░██░  ▒   ██▒  ▒   ██▒
▒██▒ █▄░██░▒██████▒▒▒██████▒▒
▒ ▒▒ ▓▒░▓  ▒ ▒▓▒ ▒ ░▒ ▒▓▒ ▒ ░
░ ░▒ ▒░ ▒ ░░ ░▒  ░ ░░ ░▒  ░ ░
░ ░░ ░  ▒ ░░  ░  ░  ░  ░  ░
░  ░    ░        ░        ░
</pre></a>

<h1>{{page.title|strip_html}}</h1>
{{content}}
