---
layout: compress
---
<!DOCTYPE html><html lang=en><head><meta name=description content="A highly opinionated, ultra minimal, Linux distribution."/><link href="data:image/png;base64," rel=icon type="image/png"><title>KISS Linux</title><meta name=viewport content="width=device-width"><style>
.grid {
    display: grid;
    grid-template-columns: .4fr 1.6fr;
    grid-template-rows: 1fr;
    grid-template-areas: '. .';
    height: 100vh;
}

aside {
    background: #eee;
    padding:40px;
}

main {
    margin: 0 20px;
}
</style></head><body><div class="grid"><aside></aside><main>{{content}}</main></div></body></html>
