body {
  display: flex;
  flex-direction: column;
  font: 16px/1.6 sans-serif;
  margin: 0;
  min-height: 100vh;
  overflow: hidden scroll;
  word-wrap: break-word;
}

h1,h2,h3 {
  margin-top: 40px;
}

main {
  flex: 1;
  width: 90%;
}

pre>code,main,#m {
  display: block;
  margin: 10px auto 40px;
  max-width: 52ch;
  padding: 0 10px;
}

pre>code {
  background: #000;
  color: #eee;
  font-family: Consolas,monospace;
  font-weight: normal;
  padding: 20px;
  white-space: pre-wrap;
  max-width: 100%;
  margin: 0 0 40px;
}

code {
  background: #fcc;
  border-radius: 4px;
  font-weight: 700;
  padding: .1em .4em;
}

nav li {
  display: inline-block;
  line-height: 2.5;
  margin: 0 20px 0 0;
}

blockquote {
  border-left: 7px solid #fc9;
  color: #333;
  margin: 0;
  padding: 0 14px;
}

img {
  display: block;
  left: 50%;
  max-width: 50vw;
  min-width: 100%;
  padding: 0 0 1em;
  position: relative;
  transform: translateX(-50%);
}

nav,footer {
  background: #000;
  padding: 30px;
}

nav a,footer {
  color: #eee;
}

#a {
  color: #f06;
}

a {
  color: #00C;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid;
}

ul {
  padding-left: 2em;
}

nav ul {
  margin: 0;
  text-align: center;
}

li+li {
  margin-top: 4px;
}

li>ul {
  margin: 5px 0 15px;
}

p {
  margin: 16px auto;
}

