<!doctype html>
<html lang=en>

<link href='data:image/gif;base64,R0lGODlhEAAQAPH/AAAAAP8AAP8AN////yH5BAUAAAQALAAAAAAQABAAAAM2SLrc/jA+QBUFM2iqA2bAMHSktwCCWJIYEIyvKLOuJt+wV69ry5cfwu7WCVp2RSPoUpE4n4sEADs=' rel=icon>

<title>KISS</title>

<meta charset=utf-8>
<meta name=viewport content="width=device-width,initial-scale=1.0">
<meta name=Description content="An independent Linux® distribution with a focus on simplicity and the concept of less is more.">

<style>body{margin:1ch;overflow-y:scroll}img{max-width:57ch;display:block;height:auto;width:100%}nav{text-align:center;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}pre{left:50%;transform:translateX(-50%);position:absolute}pre::after{content:'\A\AThe registered trademark Linux® is used pursuant to a\Asublicense from the Linux Foundation, the exclusive\A licensee of Linus Torvalds, owner of the mark\A on a world­wide basis.\A\A© Dylan Araps 2019-2020\A\A\A'}</style>
<pre>
<nav><a href=/><b>KISS</b></a><span style='color:#e60000'> 💋</span> | <a href=/news>News</a> | <a href=/blog>Blog</a> | <a href=/install><b>Install KISS</b></a> | <a href=/wiki>Wiki</a> |  <a href=/packages>Packages</a>

<a href=/scrots>Screenshots</a> | <a href=/team>Team</a> | <a href=/package-system>Package System</a> | <a href=/testimonials>Testimonials</a>

<a href=/projects>Software</a> | <a href=https://github.com/kisslinux/>GitHub</a> | <a href=/guidestones>GUIDESTONES(<b>NEW</b>)</a> | <a href=/contact>Contact</a> | <a href=/donate>Donate</a>
</nav>

#!
cat
#!
</pre>

