<!doctype html>
<html lang=en>

<link href="data:image/gif;base64,R0lGODlhEAAQAPH/AAAAAP8AAP8AN////yH5BAUAAAQALAAAAAAQABAAAAM2SLrc/jA+QBUFM2iqA2bAMHSktwCCWJIYEIyvKLOuJt+wV69ry5cfwu7WCVp2RSPoUpE4n4sEADs=" rel=icon>

<title>KISS$if(title)$ - $title$$endif$</title>

<meta charset=utf-8>
<meta name=viewport content="width=device-width,initial-scale=1.0">

<style>$header-includes$</style>

<nav>
    <ul>
        <li><a href=/ id=a>KISS</a> 💋</li>
        <li><a href=/news/>News</a>
        <li><a href=/blog/>Blog</a>
        <li><a href=/pages/install/><b>Install KISS</b></a>
        <li><a href=/wiki>Wiki</a><li><a href=/pages/faq/>FAQ</a>
        <li><a href=/pages/scrots/>Screenshots</a>
        <li><a href=/pages/team/>Team</a>
        <li><a href=/pages/package-system/>Package System</a>
        <li><a href=/pages/testimonials>Testimonials</a>
        <li><a href=/pages/projects>Software</a>
        <li><a href=https://github.com/kisslinux/>GitHub</a>
        <li><a href=/pages/contact/>Contact</a>
        <li><a href=/pages/donate/>Donate</a>
    </ul>
</nav>

<main>
    $if(wiki)$
        <br>
        <p>← <a href=/wiki><b>Wiki home</b></a><a style='float:right' href="https://github.com/kisslinux/wiki/wiki/$title$/_edit"><b>Edit this page</b></a></p>
    $endif$

    $if(date)$
        <br>
        <p>Published <b>$date$</b> by <a href="https://github.com/dylanaraps">Dylan Araps</a>.</p>
    $endif$

    $if(title)$
        <h1>$title$</h1>
    $else$
        <br>
    $endif$

$body$
    <br>
    <pre></pre>
</main>

<footer>
    <div id=m><p>The registered trademark Linux® is used pursuant to a sublicense from the Linux Foundation, the exclusive licensee of Linus Torvalds, owner of the mark on a world­wide basis.</p><p>© Dylan Araps 2019</p></div>
</footer>
