<!doctype html>
<html lang=en>

<link href='data:image/gif;base64,R0lGODlhEAAQAPH/AAAAAP8AAP8AN////yH5BAUAAAQALAAAAAAQABAAAAM2SLrc/jA+QBUFM2iqA2bAMHSktwCCWJIYEIyvKLOuJt+wV69ry5cfwu7WCVp2RSPoUpE4n4sEADs=' rel=icon>

<title>KISS$if(title)$ - $title$$endif$</title>

<meta charset=utf-8>
<meta name=viewport content="width=device-width,initial-scale=1.0">
<meta name=Description content="An independent Linux® distribution with a focus on simplicity and the concept of less is more.">

<style>body{margin:1ch;overflow-y:scroll}img{height:auto;width:100%}nav{text-align:center}img{max-width:80ch;margin:0 auto}
pre{left:50%;transform:translateX(-50%);position:absolute}
pre::after{content:'\A\AThe registered trademark Linux® is used pursuant to a\Asublicense from the Linux Foundation, the exclusive\A licensee of Linus Torvalds, owner of the mark\A on a world­wide basis.\A\A© Dylan Araps 2019-2020\A\A\A'}</style>
<pre>
<nav><a href=/><b>KISS</b></a><span style='color:#e60000'> 💋</span> | <a href=/news/>News</a> | <a href=/blog/>Blog</a> | <a href=/pages/install/><b>Install KISS</b></a> | <a href=/wiki>Wiki</a> |  <a href=/packages>Packages</a>

<a href=/pages/scrots/>Screenshots</a> | <a href=/pages/team/>Team</a> | <a href=/package-system.txt>Package System</a> | <a href=/pages/testimonials>Testimonials</a>

<a href=/pages/projects>Software</a> | <a href=https://github.com/kisslinux/>GitHub</a> | <a href=/guidestones.txt>GUIDESTONES(<b>NEW</b>)</a> | <a href=/contact.txt>Contact</a> | <a href=/pages/donate/>Donate</a>
</nav>

#!
cat
#!
</pre>

